.coverImage {
  width: 100%;
  background-color: #272a2d;
  height: 300px;
  border-radius: 16px;
}

.profilePicture {
  width: 132px;
  height: 132px;
  border-radius: 132px;
  vertical-align: inherit;
  outline: 3px solid rgba(255, 255, 255, 0.1);
  margin-top: -72px;
  margin-left: 5%;
}

.profileName {
  margin-left: 2.5%;
}
